<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)"></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content class="bet-list">

    <ion-list *ngIf="viewMode==='list'">

        <ion-item-sliding *ngFor="let bet of bets">
            <button ion-item (click)="openGameDetail(bet.GameId)">
                <!-- <h2><b>{{bet.team_A}}</b> {{bet.goals_team_A}}<b> - </b>{{bet.goals_team_B}} <b>{{bet.team_B}} </b></h2> -->
                <h2><b>Barcelona - Atletico </b></h2>
                <p> Barcelona l'emporte</p>
                <!-- <p *ngIf=" bet.result == 'Home team wins' ">{{bet.team_A}} l'emporte</p>
                <p *ngIf=" bet.result == 'Draw' ">Match nul</p>
                <p *ngIf=" bet.result == 'Away team wins' ">{{bet.team_B}} l'emporte</p> -->
                <i>Pari réalisé par {{bet.username}}</i>
            </button>
            <ion-item-options>
                <button danger (click)="deleteItem(bet)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>


</ion-content>
