
ion-header {
  ion-navbar {

    background-size: cover;
    .toolbar-background {
      background-color: rgba(58, 157, 35, 1.0);
    }

  }
}

.searchbar-input {
  box-shadow: none !important;
}

ion-footer {
  padding: 8px 16px !important;
  // ion-segment {
  //   //background-color: rgba(58, 157, 35, 1.0)
  //   ion-segment-button {
  //     background-color: rgba(58, 157, 35, 1.0)
  //   }
  // }
}
