<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)"
                       (ionCancel)="onCancel($event)"></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content class="game-list">

    <ion-list *ngIf="viewMode==='list'">

        <ion-item-sliding *ngFor="let game of games">
            <button ion-item (click)="openGameDetail(game)">
                <ion-thumbnail item-left>
                    <img src="{{game.logoTeam_A}}"/>
                </ion-thumbnail>
                <div text-center>
                  <h2> <b>{{game.team_A}}</b> {{game.goals_team_A}}<b> - </b>{{game.goals_team_B}} <b>{{game.team_B}} </b></h2>
                  <p>{{game.date | date: 'dd/MM/yyyy' }}</p>
                </div>
                <ion-thumbnail item-right>
                    <img src="{{game.logoTeam_B}}"/>
                </ion-thumbnail>
            </button>
            <ion-item-options>
                <button danger (click)="deleteItem(game)">Delete</button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>

    <!-- <div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div> -->

</ion-content>

<!-- TODO <button ion-button (click)="openCreateBet()">
      Parier !
</button> -->
